<ul class="nav nav-tabs dashboard-tabs" id="myTab">
<li class="active"><a href="#today" data-toggle="tab">Today</a></li>
<li><a href="#week" data-toggle="tab">Week</a></li>
<li><a href="#month" data-toggle="tab">Month</a></li>
</ul>

<div class="tab-content dashboard-pane">
<div class="tab-pane active" id="today">
  <!-- Today -->
  <div class="row">
    <div class="col-md-3 text-center revenue">
      <h2>Revenue</h2>

      <div class="revenue-cell">
        <h4>Total</h4>
        <p class="revenue-amount text-success">$<%= price_in_dollars(total_sales(daily_tabs)) %></p>
      </div>

      <div class="revenue-cell">
        <h4>Average Tab</h4>
        <p class="revenue-amount text-success">$<%= price_in_dollars(average(daily_tabs)) %></p>
      </div>

      <div class="revenue-cell">
        <h4>Outstanding</h4>
        <p class="revenue-amount text-danger">$<%= price_in_dollars(outstanding(daily_tabs)) %></p>
      </div>

      <div class="revenue-cell">
        <h4>Tips</h4>
        <p class="revenue-amount text-success">$<%= price_in_dollars(tips(daily_tabs)) %></p>
      </div>

    </div>
    <div class="col-md-9">
      <h2 class="text-center">At a Glance</h2>
      <div id="today-chart"></div>
      <%= @today_chart.render() %>

      <h2 class="text-center">By the Numbers</h2>
      <div class="row text-center">
        <div class="col-md-3">
          <h4>Total Tabs</h4>
          <p class="number-data"><%= @daily_tabs.count %></p>
        </div>
        <div class="col-md-3">
          <h4>Unique Customers</h4>
          <p class="number-data"><%= unique_customers(@daily_tabs) %></p>
        </div>
        <div class="col-md-3">
          <h4>Returning&nbsp;Customers</h4>
          <p class="number-data"><%= returning_customers(@daily_tabs) %></p>
        </div>
        <div class="col-md-3">
          <h4>Total Drinks</h4>
          <p class="number-data"><%= total_drinks(@daily_tabs) %></p>
        </div>
      </div>
    </div>
  </div>
  <!-- Today -->
</div>
<div class="tab-pane" id="week">
  <!-- Week -->
  <div class="row">
    <div class="col-md-3 text-center revenue">
      <h2>Revenue</h2>

      <div class="revenue-cell">
        <h4>Total</h4>
        <p class="revenue-amount text-success">$<%= price_in_dollars(total_sales(weekly_tabs)) %></p>
      </div>

      <div class="revenue-cell">
        <h4>Average Tab</h4>
        <p class="revenue-amount text-success">$<%= price_in_dollars(average(weekly_tabs)) %></p>
      </div>

      <div class="revenue-cell">
        <h4>Outstanding</h4>
        <p class="revenue-amount text-danger">$<%= price_in_dollars(outstanding(weekly_tabs)) %></p>
      </div>

      <div class="revenue-cell">
        <h4>Tips</h4>
        <p class="revenue-amount text-success">$<%= price_in_dollars(tips(weekly_tabs)) %></p>
      </div>

    </div>
    <div class="col-md-9">
      <h2 class="text-center">At a Glance</h2>
      <div id="week-chart"></div>
      <%= @week_chart.render() %>

      <h2 class="text-center">By the Numbers</h2>
      <div class="row text-center">
        <div class="col-md-3">
          <h4>Total Tabs</h4>
          <p class="number-data"><%= @weekly_tabs.count %></p>
        </div>
        <div class="col-md-3">
          <h4>Unique Customers</h4>
          <p class="number-data"><%= unique_customers(@weekly_tabs) %></p>
        </div>
        <div class="col-md-3">
          <h4>Returning&nbsp;Customers</h4>
          <p class="number-data"><%= returning_customers(@weekly_tabs) %></p>
        </div>
        <div class="col-md-3">
          <h4>Total Drinks</h4>
          <p class="number-data"><%= total_drinks(@weekly_tabs) %></p>
        </div>
      </div>
    </div>
  </div>
  <!-- Week -->
</div>
<div class="tab-pane" id="month">
  <!-- Month -->
  <div class="row">
    <div class="col-md-3 text-center revenue">
      <h2>Revenue</h2>

      <div class="revenue-cell">
        <h4>Total</h4>
        <p class="revenue-amount text-success">$<%= price_in_dollars(total_sales(monthly_tabs)) %></p>
      </div>

      <div class="revenue-cell">
        <h4>Average Tab</h4>
        <p class="revenue-amount text-success">$<%= price_in_dollars(average(monthly_tabs)) %></p>
      </div>

      <div class="revenue-cell">
        <h4>Outstanding</h4>
        <p class="revenue-amount text-danger">$<%= price_in_dollars(outstanding(monthly_tabs)) %></p>
      </div>

      <div class="revenue-cell">
        <h4>Tips</h4>
        <p class="revenue-amount text-success">$<%= price_in_dollars(tips(monthly_tabs)) %></p>
      </div>

    </div>
    <div class="col-md-9">
      <h2 class="text-center">At a Glance</h2>
      <div id="month-chart"></div>
      <%= @month_chart.render() %>

      <h2 class="text-center">By the Numbers</h2>
      <div class="row text-center">
        <div class="col-md-3">
          <h4>Total Tabs</h4>
          <p class="number-data"><%= @monthly_tabs.count %></p>
        </div>
        <div class="col-md-3">
          <h4>Unique Customers</h4>
          <p class="number-data"><%= unique_customers(@monthly_tabs) %></p>
        </div>
        <div class="col-md-3">
          <h4>Returning&nbsp;Customers</h4>
          <p class="number-data"><%= returning_customers(@monthly_tabs) %></p>
        </div>
        <div class="col-md-3">
          <h4>Total Drinks</h4>
          <p class="number-data"><%= total_drinks(@monthly_tabs) %></p>
        </div>
      </div>
    </div>
  </div>
  <!-- Month -->
</div>
</div>
