<div class="fix-width">
  <%= form_for :session do |f| %>
  <%= f.hidden_field :username, value: 'ehickle', class: "full-width form-control" %>
  <%= f.hidden_field :password, value: 'password', class: "full-width form-control" %>
  <%= f.submit 'Beta Test', :class => "form_submit_button btn btn-success full-width"  %>
  <% end %>
  <p class='center-div'> or </p>
  <h1>Login</h1>
  <hr>
  <%= form_for :session do |f| %>
    <%= f.label :username %><br>
    <%= f.text_field :username, class: "full-width form-control" %><br>
    <%= f.label :password %><br>
    <%= f.password_field :password, class: "full-width form-control" %><br>
    <%= f.submit 'Login', :class => "form_submit_button btn btn-success full-width"  %>
  <% end %>
  <p>Don't have an account? <%= link_to "Sign Up.", new_customer_path %> </p>
</div>
