<h2>Login</h2>

<%= form_for :session do |f| %>

  <%= f.label :username %><br>
  <%= f.text_field :username %><br>

  <%= f.label :password %><br>
  <%= f.password_field :password %><br>
  <br>
  <%= f.submit 'Login', :class => 'form_submit_button' %>
<% end %>
<p>Don't have an account? <%= link_to "Signup", new_customer_path %> </p>
