<h2>Hi, <%= @customer.first_name %>!</h2>
<% if @open_tab %>
  <h3>Your open tab:</h3>
  <%= render @open_tab %>
<% else %>
  <h3>You don't have any open tabs</h3>
<% end %>

<h3>Recent Tabs</h3>
<ul class="list-group">
  <%= render @recent_tabs %>
</ul>

<%= form_tag(new_tab_path, method:'get') do %>
  <%= submit_tag("Open Tab", class: 'btn btn-primary full-width')%>
<% end %>
