<h3>Your open tab:</h3>
    <h4> <%=  @open_tab.business.dba %></h4>
      <% @open_tab.items.each do |item| %>
        <p><%= item.drink_type %>.....<%= item.price_in_dollars %></p>
      <% end %>

<h3>Recent Tabs</h3>
    <%  @recent_tabs.each do |tab| %>
        <p><%= tab.business.dba %>.....<%= tab.total_price %></p>
      <% end %>


<%= form_tag(new_tab_path, method:'get') do %>
  <%= submit_tag("Open Tab") %>
<% end %>
