<h2>Hi, <%= @customer.username %>!</h2>
<h3>Your open tab:</h3>
<%= render @open_tab %>

<h3>Recent Tabs</h3>
<%= render @recent_tabs %>

<%= form_tag(new_tab_path, method:'get') do %>
  <%= submit_tag("Open Tab") %>
<% end %>
