<%= link_to '<i class="fa fa-angle-double-left" aria-hidden="true"></i>'.html_safe, :back, class: 'navigation' %>

<h2>Where are you?</h2>
<%= form_tag('/tabs', method:'post') do %>
  <%= label :username, "Bar" %>
  <div class="input-group" id="bar-lookup">
    <span class="input-group-addon" id="basic-addon2">@</span>
    <%= text_field_tag(:username, nil, placeholder: '',  class: "form-control", autofocus: true) %>
  </div>

  <div class="alert alert-info alert-dismissible" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    We encourage users to set <strong>limits</strong> below - you will receive a text from TabOut once your tab reaches your chosen limits.
  </div>

  <ul class="nav nav-tabs">
    <li class="active col-xs-6 limit-tabs"><a data-toggle="tab" href="#amount">Number of Drinks</a></li>
    <li class="col-xs-6 limit-tabs"><a data-toggle="tab" href="#cost">Total Cost</a></li>
  </ul>
  <div class="tab-content">

    <%= label :limit, "Limit", class: "limit-label" %>
    <div id="amount" class="tab-pane fade in active">
      <%= select_tag(:limit_amount, options_for_select([['No limit', '0'],['1', '1'], ['2', '2'], ['3', '3'], ['4', '4'], ['5', '5'], ['6', '6']], current_user.limit_amount), class: "form-control full-width limit-dropdown") %>
    </div>

    <div id="cost" class="tab-pane fade in">
        <%= select_tag(:limit_cost, options_for_select([['No limit', '0'],['$10', '1000'], ['$20', '2000'], ['$30', '3000'], ['$40', '4000'], ['$50', '5000'], ['$60', '6000']], current_user.limit_cost), class: "form-control full-width limit-dropdown") %>
    </div>
  </div>
  <hr>

  <%= submit_tag("Open Tab", id: 'open-tab', class: "btn btn-primary full-width") %>
<% end %>
