<% if session[:user_type] == 'Customer' %>
  <h1>You're at <%= name(@tab.business) %></h1>
<% elsif session[:user_type] == 'Business' %>
  <h1>This is @<%= @tab.customer.username %>'s tab</h1>
<% end %>

<% if session[:user_type] == 'Business' %>
  <%= form_for [@tab, @item] do |f| %>

  <%= f.label :drink_type, 'Drink' %> <br>
  <%= f.select(:drink_type) do %>
    <% [['-select-', ''],['Beer', 'Beer'], ['Wine', 'Wine'], ['Cocktail', 'Cocktail'], ['Shot/Liquor', 'Shot/Liquor'],].each do |c| %>
      <%= content_tag(:option, c.first, value: c.last) %>
    <% end %>
  <% end %>
  <br>
    <%= f.label 'Price ($)' %> <br>
    <%= f.text_field :price %><br>
    <%= f.submit 'Add' %>
  <% end %>
<% end %>

<table>
  <tbody>
    <tr>
      <th>Item</th>
      <th>Price</th>
      <% if session[:user_type] == 'Business' %>
        <th>Action</th>
      <% end %>
    </tr>
    <% @tab.items.each do |item| %>
      <tr>
        <td><%= item.drink_type %></td>
        <td>$<%= price_in_dollars(item.price) %></td>

        <% if session[:user_type] == 'Business' %>
          <td><%= link_to 'Delete',
               tab_item_path(@tab, item),
                           method: :delete,
                           data: { confirm: 'Are you sure you want to delete this drink?' } %>
          </td>
         <% end %>
      </tr>
    <% end %>
    <tr>
      <td>Total</td>
      <td>$<%= price_in_dollars(@tab.total_price) %></td>
    </tr>
  </tbody>
</table>

<% if session[:user_type] == 'Customer' && @tab.transaction_id == nil %>
  <%= button_to "Checkout", checkout_tab_path, method: :get %>
<% end %>
