<h1>You're at <%= name(@tab.business) %></h1>

<table>
  <tbody>
    <tr>
      <th>Item</th>
      <th>Price</th>
    </tr>
    <% @tab.items.each do |item| %>
      <tr>
        <td><%= item.drink_type %></td>
        <td><%= price_in_dollars(item.price) %></td>
      </tr>
    <% end %>
    <tr>
      <td>Total</td>
      <td><%= price_in_dollars(@tab.total_price) %></td>
    </tr>
  </tbody>
</table>

<%= button_to "Checkout", checkout_tab_path, method: :get %>
