<%= link_to '<i class="fa fa-angle-double-left" aria-hidden="true"></i>'.html_safe, :back, class: 'navigation' %>

<% if session[:user_type] == 'Customer' %>
  <% if @tab.is_open? %>
    <div class="alert alert-info alert-dismissible" role="alert">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      Use <strong>@<%= @tab.customer.username %></strong> at the bar to add items to your tab.
    </div>
  <% end %>
  <h1><%= name(@tab.business) %></h1>
<% elsif session[:user_type] == 'Business' %>
  <h1>@<%= @tab.customer.username %></h1>
<% end %>

<% if @tab.is_open? %>
  <p class="tab-timestamp">Opened <%= time_ago_in_words(@tab.created_at) %> ago</p>
<% else %>
  <p class="tab-timestamp">Closed <%= time_ago_in_words(@tab.updated_at) %> ago</p>
<% end %>

<hr>
<% if session[:user_type] == 'Business' && @tab.is_open? %>
  <%= form_for [@tab, @item], class: "form-inline" do |f| %>

  <%= f.label :drink_type, 'Drink' %>
  <%= f.select(:drink_type, {}, {}, class: "form-control") do %>
    <% [['-select-', ''],['Beer', 'Beer'], ['Wine', 'Wine'], ['Cocktail', 'Cocktail'], ['Shot/Liquor', 'Shot/Liquor'],].each do |c| %>
      <%= content_tag(:option, c.first, value: c.last) %>
    <% end %>
  <% end %>
    <%= f.label 'Price ($)' %>
    <%= f.text_field :price, class: "form-control" %>
    <%= f.submit 'Add', class: "btn btn-success submit-new-drink" %>
  <% end %>
<% end %>

<% if @tab.items.any? %>
  <table class="table table-striped table-hover" id="tab-table">
    <thead>
      <tr class='row-darker'>
        <th>#</th>
        <th>Item</th>
        <th>Price</th>
        <% if session[:user_type] == 'Business' && @tab.is_open? %>
          <th>Action</th>
        <% end %>
      </tr>
    </thead>
    <tbody>
      <% @tab.items.each_with_index do |item, index| %>
        <tr>
          <td><%= index + 1 %></td>
          <td><%= item.drink_type %></td>
          <td>$<%= price_in_dollars(item.price) %></td>

          <% if session[:user_type] == 'Business' && @tab.is_open? %>
            <td><%= link_to 'Delete',
                 tab_item_path(@tab, item),
                             method: :delete,
                             data: { confirm: 'Are you sure you want to delete this drink?' },
                             class: "delete-item" %>
            </td>
          <% end %>
        </tr>
      <% end %>
      <tr class='row-darker'>
        <td>-</td>
        <td>Subtotal</td>
        <td>$<%= price_in_dollars(@tab.total_price) %></td>
        <% if session[:user_type] == 'Business' && @tab.is_open? %>
          <td><%= link_to 'Checkout', checkout_tab_path, class: "btn btn-success checkout-btn" %></td>
        <% end %>
      </tr>

      <% if !@tab.is_open? %>
      <tr>
        <td>-</td>
        <td>Tip</td>
        <td>$<%= price_in_dollars(@tab.tip) %></td>
      </tr>
      <tr class ='row-darker'>
        <td>-</td>
        <td>Total</td>
        <td>$<%= price_in_dollars(@tab.total_price + @tab.tip) %> </td>
        <% if session[:user_type] == 'Business' && @tab.is_open? %>
          <td> </td>
        <% end %>
      </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <li id='no-items-error' class='btn btn-default'>No items have been ordered.</li>
<% end %>

<hr class='bad-hr'>

<% if session[:user_type] == 'Customer'%>
  <% if @tab.is_open? %>
    <% if @tab.items.empty? %>
      <%= link_to 'Delete Tab', tab_path(@tab), method: :delete,
        data: { confirm: 'Are you sure you want to delete this tab?' }, class: "btn delete-tab" %>
    <% else %>
      <%= button_to "Checkout", checkout_tab_path, method: :get, class: "btn btn-primary full-width" %>
    <% end %>
  <% else %>
    <button class="btn btn-inactive full-width">Tab Closed</button>
  <% end %>
<% end %>
