<%= link_to '<i class="fa fa-angle-double-left" aria-hidden="true"></i>'.html_safe, :back, class: 'navigation' %>

<h2>Add a New Card</h2>

<div id="dropin-container"></div>

<%= form_for :card, url: cards_edit_path, method: :get, html:{ id: 'edit-cards' }do |f| %>
   <%= f.hidden_field :nonce %><br />
   <%= f.submit 'Add Card', class: 'btn btn-primary full-width' %><br />
 <% end %>

<script src="https://js.braintreegateway.com/web/dropin/1.4.0/js/dropin.min.js"></script>
<script>
  var button = document.querySelector("input[type='submit']");
  var form = document.querySelector('form#edit-cards');

  braintree.dropin.create({
    authorization: '<%= @client_token %>',
    container: '#dropin-container'
  }, function (createErr, instance) {
    button.addEventListener('click', function (event) {
      event.preventDefault();
      instance.requestPaymentMethod(function (requestPaymentMethodErr, payload) {
        var nonce = form.querySelector('input[name="card[nonce]"]')
        form.querySelector('input[name="card[nonce]"]').value = payload.nonce;
      });
    });
  });
</script>
