<nav class="navbar navbar-default">
  <div class="container-fluid navbar-fill">
    <div class="navbar-header">
      <span class="nav-open" style="font-size:30px;cursor:pointer">&#9776;</span>
      <a class="brand" href="/">TabOut</a>
    </div>
    <div id="navbar" class="sidenav">
      <a href="javascript:void(0)" class="nav-close">&times;</a>
        <%= link_to 'My Tabs', root_path %>
        <%= link_to 'Settings', '/' %>
        <%= link_to 'History', '/' %>
      <% if logged_in? %>
        <%= link_to 'Logout', logout_path %>
      <% else %>
        <%= link_to 'Login', login_path %>
      <% end %>
    </div>
  </div>
</nav>
