<nav class="navbar navbar-default full-width">
  <div class="container-fluid navbar-fill">
    <div class="navbar-header">
      <span class="nav-open" style="font-size:30px;cursor:pointer">&#9776;</span>
      <a class="brand" href="/">TabOut</a>
      <%= form_tag(new_tab_path, method:'get', class: 'nav-form') do %>
        <%= submit_tag("<i class='fa fa-glass' aria-hidden='true'></i>".html_safe, class: 'btn btn-nav')%>
      <% end %>
    </div>
    <div id="navbar" class="sidenav">
      <a href="javascript:void(0)" class="nav-close">&times;</a>
      <% if logged_in? %>
        <%= link_to 'My Tabs', root_path %>
        <% if current_user.class == Customer %>
          <%= link_to "Settings", edit_customer_path(current_user) %>
        <% end %>
        <%= link_to 'History', tabs_path %>
        <%= link_to 'Logout', logout_path %>
      <% else %>
        <%= link_to 'Sign Up', new_customer_path %>
        <%= link_to 'Login', login_path %>
      <% end %>
    </div>
  </div>
</nav>
