<nav class="navbar navbar-default full-width">
  <div class="container-fluid navbar-fill">
    <div class="navbar-header">
      <span class="nav-open" style="font-size:30px;cursor:pointer">&#9776;</span>
      <a class="brand" href="/">TabOut</a>
      <% if session[:user_type] == 'Customer' %>
        <%= form_tag(new_tab_path, method:'get', class: 'nav-form') do %>
          <%= button_tag "<i class='fa fa-glass' aria-hidden='true'></i>".html_safe, class: 'btn btn-nav'%>
        <% end %>
      <% end %>
    </div>
    <div id="navbar" class="sidenav">
      <a href="javascript:void(0)" class="nav-close">&times;</a>
      <% if logged_in? %>
        <p href='#' class="nav-username"><strong>@<%= current_user.username %></strong></p>
        <hr class="nav-hr-lg">
        <%= link_to 'My Tabs', root_path %>
        <% if current_user.class == Customer %>
        <hr class="nav-hr-sm">
        <%= link_to "Settings", edit_customer_path(current_user) %>
        <% end %>
        <hr class="nav-hr-sm">
        <%= link_to 'History', tabs_path %>
        <hr class="nav-hr-sm">
        <%= link_to 'Logout', logout_path %>
      <% else %>
        <hr class="nav-hr-sm">
        <%= link_to 'Sign Up', new_customer_path %>
        <hr class="nav-hr-sm">
        <%= link_to 'Login', login_path %>
      <% end %>
    </div>
  </div>
</nav>
