<!DOCTYPE html>
<html>
  <head>
    <title>TabOut</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <nav>
      <a href=''>Login</a>
      <a href=''><%= @user %></a>
    </nav>
    <% if @errors %>
      <% @errors.each do |error| %>
        <p><%= error %></p>
      <% end %>
    <% end %>
    <%= yield %>
  </body>
</html>
